body {
    margin: 0;
    font-family: Georgia;
}

/*section 1*/

.section-1 {
    background-color: #1F2937;
    padding: 0 50px;
}

h1 {
    font-size: 60px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0px;
}

.photo img {
    width: 40vw;
    border-radius: 10px;
    height: auto;
}

.left img{ 
    object-fit: cover;
    width: 70px;
    height: 70px;
    border-radius: 100px;
}

p, a { 
    color: #E5E7EB;
}

a {
    font-size: 18px;
}
p {
    font-size: 1.7vw;
    margin: 1vh 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    border-color: #3882F6;
    margin-top: 2vh;
}

/*.header, .introduction {
    padding-left: 200px;
    padding-right: 200px;
}*/

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.introduction {
    display: flex;
    padding-top: 200px;
    padding-bottom: 200px;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

/*section 2*/
.section-2 {
    text-align: center;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    padding: 20px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-bottom: 150px;
}

/*.container img {
    object-fit: cover;
    width: 15vw;
    height: 15vw;
    border-radius: 10px;
}*/

.image-1, .image-2, .image-3, .image-4, .image-5, .image-6, .image-7, .image-8, .image-9 {
    max-width: 15vw;
}

.slideshow{
    width: 0vw;
    height: 15vw;
    margin-bottom: 8px;
    position: relative;
}

.slideshow img{
    object-fit: cover;
    width: 15vw;
    height: 15vw;
    border-radius: 10px;
    position: absolute;
}

.image-1 .slideshow img,
.image-6 .slideshow img,
.image-9 .slideshow img{
    animation: showMe 8s linear infinite 0s forwards;
    animation-play-state: paused;
}

.image-2 .slideshow img,
.image-3 .slideshow img,
.image-4 .slideshow img,
.image-5 .slideshow img,
.image-7 .slideshow img,
.image-8 .slideshow img{
    animation: showMe 4s linear infinite 0s forwards;
    animation-play-state: paused;
}

.slideshow:hover img{
    animation-play-state: running;
}

/*slideshow 1*/
.image-1 .slideshow img:nth-child(1),
.image-6 .slideshow img:nth-child(1),
.image-9 .slideshow img:nth-child(1){
    z-index: 5;
}

.image-1 .slideshow img:nth-child(2),
.image-6 .slideshow img:nth-child(2),
.image-9 .slideshow img:nth-child(2){
    animation-delay: 2s;
    z-index: 4;
}

.image-1 .slideshow img:nth-child(3),
.image-6 .slideshow img:nth-child(3),
.image-9 .slideshow img:nth-child(3){
    animation-delay: 4s;
    z-index: 3;
}

.image-1 .slideshow img:nth-child(4),
.image-6 .slideshow img:nth-child(4),
.image-9 .slideshow img:nth-child(4){
    animation-delay: 6s;
    z-index: 2;
}

/*slideshow 2*/
.image-2 .slideshow img:nth-child(1),
.image-3 .slideshow img:nth-child(1),
.image-4 .slideshow img:nth-child(1),
.image-5 .slideshow img:nth-child(1),
.image-7 .slideshow img:nth-child(1),
.image-8 .slideshow img:nth-child(1){
    z-index: 3;
}

.image-2 .slideshow img:nth-child(2),
.image-3 .slideshow img:nth-child(2),
.image-4 .slideshow img:nth-child(2),
.image-5 .slideshow img:nth-child(2),
.image-7 .slideshow img:nth-child(2),
.image-8 .slideshow img:nth-child(2){
    animation-delay: 2s;
    z-index: 2;
}

@keyframes showMe {
    0% {visibility: visible; z-index: 100;}
    25% {visibility: visible; z-index: 100; opacity: .6;}
    50% { visibility: hidden; z-index: 0; opacity: .4;}
    75% {opacity: .2;}
    100% {visibility: hidden; z-index: 0; opacity: 0;}
}

.subtext {
    font-size: 18px;
}

/*section 3*/

.section-3 {
    background-color: #E5E7EB;
    padding: 200px 15vw;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    padding-bottom: 16px;
}

.name {
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
    text-align: right;
}

/*section 4*/
.section-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 200px;
    background-color: #3882F6;
    padding: 60px 10vw;
    border-radius: 10px;
}

.call {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    padding: 0px;
}

.subtitle {
    font-size: 18px;
    color: #E5E7EB;
}

.section-4 button {
    border-color: white;
}

/*footer*/
.footer {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
    padding: 50px;
}